:root {
     --fundo-básico: #000000;
     --fundo-delicado:	#FFF5EE;;
     --titulo-destaque:	#FF1493;

    --familia-titulo:'Dancing Script', cursiva;
    --familia-corpo:'Shippori Antique', sans-serif;
}